<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<meta name="theme-color" content="#4d90fe">
<link rel="manifest" href="<%= require('../../assets/manifest.json') %>">
</head>
<body>
<section>
	<div class="container">
		<h1>Template-Static-Website</h1>
		<ul>
			<li>Webpack v2</li>
			<li>TypeScript</li>
			<li>Sass</li>
			<li>PostCSS</li>
			<li>Support Japanese</li>
		</ul>
	</div>
</section>

<section>
	<div class="container">
		<h2>Typography / タイポグラフィ</h2>

		<div class="SampleBox">
			<h1>Header Level1 / 見出しレベル1</h1>
			<h2>Header Level2 / 見出しレベル2</h2>
			<h3>Header Level3 / 見出しレベル3</h3>
			<h4>Header Level4 / 見出しレベル4</h4>
			<h5>Header Level5 / 見出しレベル5</h5>
			<h6>Header Level6 / 見出しレベル6</h6>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
			   dolore
			   magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
			   commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
			   fugiat
			   nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
			   mollit
			   anim id est laborum.</p>
			<p>
				あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。またそのなかでいっしょになったたくさんのひとたち、ファゼーロとロザーロ、羊飼のミーロや、顔の赤いこどもたち、地主のテーモ、山猫博士のボーガント・デストゥパーゴなど、いまこの暗い巨きな石の建物のなかで考えていると、みんなむかし風のなつかしい青い幻燈のように思われます。では、わたくしはいつかの小さなみだしをつけながら、しずかにあの年のイーハトーヴォの五月から十月までを書きつけましょう。</p>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<h2>Code Block / コードブロック</h2>

		<div class="SampleBox">
                <pre><code>{
	"short_name": "my website",
	"name": "Static My Website",
	"display": "browser",
	"background_color": "#4d90fe",
	"theme_color": "#4d90fe",
	"start_url": "/index.html",
	"icons": [ ]
}</code></pre>
		</div>
	</div>
</section>

<script type="application/javascript">
	/**
	 * Prerender scripts
	 *
	 * Please be careful that PhantomJS is not supported almost of all ES5+ features such as Arrow function.
	 */

	document.addEventListener('DOMContentLoaded', function() {
		document.title = 'Prerendered HTML (generated at ' + (new Date()).toDateString() + ')';
	});

	// This script tag is not rendered in prerendered HTML
	if (document.currentScript) document.currentScript.parentElement.removeChild(document.currentScript);
</script>

</body>
</html>