<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<meta name="theme-color" content="#4d90fe">
<link rel="manifest" href="<%= require('../../assets/manifest.json') %>">
</head>
<body></body>
</html>